In [36]:
import pandas as pd

columns_imported = "c:f"

energy= pd.read_excel(r"D:\ITI\26 Python\Task 1\data\Energy Indicators.xls",
                         usecols=columns_imported,
                         skiprows=18,
                         nrows=227,
                         header=None,
                         names=['Country', 'Energy Supply', 'Energy Supply per Capita', '% Renewable'],
                         na_values=['...']
                     )

# energy=energy.replace('', np.nan, regex=True, inplace=True )
# energy.isnull().sum()
energy.head(25)

,Country,Energy Supply,Energy Supply per Capita,% Renewable
0,Afghanistan,321.0,10.0,78.669280
1,Albania,102.0,35.0,100.000000
2,Algeria,1959.0,51.0,0.551010
3,American Samoa,NaN,NaN,0.641026
4,Andorra,9.0,121.0,88.695650
5,Angola,642.0,27.0,70.909090
6,Anguilla,2.0,136.0,0.000000
7,Antigua and Barbuda,8.0,84.0,0.000000
8,Argentina,3378.0,79.0,24.064520
9,Armenia,143.0,48.0,28.236060
10,Aruba,12.0,120.0,14.870690
11,Australia1,5386.0,231.0,11.810810
12,Austria,1391.0,164.0,72.452820
13,Azerbaijan,567.0,60.0,6.384345
14,Bahamas,45.0,118.0,0.000000
15,Bahrain,574.0,425.0,0.000000
16,Bangladesh,1625.0,10.0,1.966329
17,Barbados,19.0,69.0,0.000000
18,Belarus,1142.0,120.0,0.463389
19,Belgium,2338.0,210.0,9.959739
20,Belize,13.0,39.0,64.690030
21,Benin,170.0,16.0,0.000000
22,Bermuda,6.0,88.0,0.000000
23,Bhutan,63.0,83.0,100.000000
24,Bolivia (Plurinational State of),336.0,32.0,31.477120

In [7]:
#function to change 'Energy Supply' from petajoules to gigajoules
def gigajoules(Energy):
    return float(Energy)*1000000

energy['Energy Supply']=energy['Energy Supply'].apply(gigajoules)

In [50]:
#to remove the numbers from the country name
energy['Country']=energy['Country'].str.replace('\d+', '')

#to remove the unneeded brackets and its contents 
energy['Country']=energy['Country'].str.replace(r" \(.*","")

#to transform these forms into these forms as required
energy.replace({'Country':{'Republic of Korea': 'South Korea',
'United States of America': 'United States',
'United Kingdom of Great Britain and Northern Ireland': 'United Kingdom',
'China, Hong Kong Special Administrative Region': 'Hong Kong'}}, inplace=True)

In [51]:
# these to check if all values have been changed or not 
# energy_test=energy[(energy['Country']=='Republic of Korea')]
# energy_test=energy[(energy['Country']=='United States of America')]
# energy_test=energy[(energy['Country']=='United Kingdom of Great Britain and Northern Ireland')]
# energy_test=energy[(energy['Country']=='China, Hong Kong Special Administrative Region')]
# energy_test
# energy_test=energy[(energy['Country']=='Bolivia')]
# energy_test

In [52]:
GDP= pd.read_csv(r"D:\ITI\26 Python\Task 1\data\world_bank.csv",
                 header=0,
                 skiprows=4      
                )
GDP.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
0,Aruba,ABW,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,2.467704e+09,NaN,NaN,NaN,NaN,NaN
1,Andorra,AND,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,4.018196e+09,4.021331e+09,3.675728e+09,3.535389e+09,3.346317e+09,3.185605e+09,3.129538e+09,3.127550e+09,NaN,NaN
2,Afghanistan,AFG,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,1.030523e+10,1.172119e+10,1.214448e+10,1.469733e+10,1.593680e+10,1.691113e+10,1.935220e+10,1.973134e+10,1.999032e+10,2.029415e+10
3,Angola,AGO,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,5.581103e+10,6.842044e+10,7.787420e+10,7.975320e+10,8.247091e+10,8.570262e+10,9.012096e+10,9.626143e+10,1.008863e+11,1.039106e+11
4,Albania,ALB,GDP at market prices (constant 2010 US$),NY.GDP.MKTP.KD,NaN,NaN,NaN,NaN,NaN,NaN,...,9.771760e+09,1.034829e+10,1.112752e+10,1.150029e+10,1.192695e+10,1.223109e+10,1.240477e+10,1.254247e+10,1.279331e+10,1.312082e+10

In [53]:
GDP.replace({'Country Name':{"Korea, Rep.": "South Korea", 
                             "Iran, Islamic Rep.": "Iran",
                             "Hong Kong SAR, China": "Hong Kong"}},inplace=True)

In [54]:
# GDP_test = GDP[(GDP["Country Name"]=="Korea, Rep.")]
# # GDP_test = GDP[(GDP["Country Name"]=="South Korea")]
# GDP_test

In [55]:
ScimEn=pd.read_excel(r"D:\ITI\26 Python\Task 1\data\scimagojr-3.xlsx")
ScimEn.head()

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index
0,1,China,127050,126767,597237,411683,4.70,138
1,2,United States,96661,94747,792274,265436,8.20,230
2,3,Japan,30504,30287,223024,61554,7.31,134
3,4,United Kingdom,20944,20357,206091,37874,9.84,139
4,5,Russian Federation,18534,18301,34266,12422,1.85,57

In [56]:
# ScimEn.dtypes
# GDP.dtypes

In [57]:
# ScimEn.set_index('')
ScimEn_GDP= pd.merge(ScimEn,GDP[['Country Name', '2006', '2007', '2008',
       '2009', '2010', '2011', '2012', '2013', '2014', '2015']],left_on='Country',right_on='Country Name', how='inner')
ScimEn_GDP_energy=pd.merge(ScimEn_GDP,energy,on='Country', how='inner')
ScimEn_GDP_energy

,Rank,Country,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,Country Name,2006,...,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
0,1,China,127050,126767,597237,411683,4.70,138,China,3.992331e+12,...,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,127191.0,93.0,19.75491
1,2,United States,96661,94747,792274,265436,8.20,230,United States,1.479230e+13,...,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,90838.0,286.0,11.57098
2,3,Japan,30504,30287,223024,61554,7.31,134,Japan,5.496542e+12,...,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,18984.0,149.0,10.23282
3,4,United Kingdom,20944,20357,206091,37874,9.84,139,United Kingdom,2.419631e+12,...,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7920.0,124.0,10.60047
4,5,Russian Federation,18534,18301,34266,12422,1.85,57,Russian Federation,1.385793e+12,...,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,30709.0,214.0,17.28868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,183,Maldives,1,1,1,0,1.00,1,Maldives,1.862196e+09,...,2.192661e+09,2.323402e+09,2.525755e+09,2.588810e+09,2.710479e+09,2.886134e+09,2.929826e+09,15.0,43.0,0.00000
158,185,Belize,1,1,6,0,6.00,1,Belize,1.285312e+09,...,1.352206e+09,1.397113e+09,1.426484e+09,1.479846e+09,1.499280e+09,1.560479e+09,1.590417e+09,13.0,39.0,64.69003
159,186,Palau,1,1,0,0,0.00,0,Palau,2.074094e+08,...,1.779528e+08,1.838000e+08,1.930672e+08,1.992454e+08,1.943911e+08,2.026654e+08,2.216412e+08,3.0,152.0,18.75000
160,187,Guyana,1,1,0,0,0.00,0,Guyana,1.919759e+09,...,2.164673e+09,2.259288e+09,2.382129e+09,2.496863e+09,2.627240e+09,2.728150e+09,2.810153e+09,34.0,45.0,0.00000
161,191,Mauritania,1,1,1,0,1.00,1,Mauritania,4.025616e+09,...,4.140153e+09,4.337792e+09,4.541844e+09,4.805048e+09,5.097687e+09,5.312107e+09,NaN,51.0,13.0,0.00000

In [58]:
#filter to get the first 15 Ranks
ScimEn_GDP_energy=ScimEn_GDP_energy[(ScimEn_GDP_energy["Rank"]<=15)]

#to remove the extra 'Country Name' column
ScimEn_GDP_energy.drop(ScimEn_GDP_energy.columns[8], axis=1,inplace=True )

#to set the Country as an index fo the table
ScimEn_GDP_energy.set_index('Country',inplace=True)

C:\Users\amral\anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [59]:
ScimEn_GDP_energy

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable
Country,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,5.459247e+12,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,127191.0,93.0,19.754910
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,1.459484e+13,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,90838.0,286.0,11.570980
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,5.251308e+12,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,18984.0,149.0,10.232820
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,2.367048e+12,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7920.0,124.0,10.600470
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,1.459199e+12,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,30709.0,214.0,17.288680
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,1.565145e+12,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,10431.0,296.0,61.945430
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,3.283340e+12,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,13261.0,165.0,17.901530
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,1.549483e+12,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,33195.0,26.0,14.969080
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,2.595967e+12,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,10597.0,166.0,17.020280
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,1.027730e+12,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,11007.0,221.0,2.279353
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,2.089938e+12,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6530.0,109.0,33.667230
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,1.431475e+12,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4923.0,106.0,37.968590
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,4.389208e+11,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,9172.0,119.0,5.707721
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,1.119654e+12,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5386.0,231.0,11.810810
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,2.054215e+12,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,12149.0,59.0,69.648030

In [60]:
#Step 4 
    #The number of records before reducing to top 15 was (162) so the loss is (162-15) = 147

In [62]:
#To get the average GDP of each Country
ScimEn_GDP_energy[['2006','2007','2008','2009','2010','2011','2012','2013','2014','2015']].mean(axis=1, skipna=True).sort_values(ascending=False)

Country
United States         1.536434e+13
China                 6.348609e+12
Japan                 5.542208e+12
Germany               3.493025e+12
France                2.681725e+12
United Kingdom        2.487907e+12
Brazil                2.189794e+12
Italy                 2.120175e+12
India                 1.769297e+12
Canada                1.660647e+12
Russian Federation    1.565459e+12
Spain                 1.418078e+12
Australia             1.164043e+12
South Korea           1.106715e+12
Iran                  4.441558e+11
dtype: float64

In [20]:
# the mean of 'Energy Supply per Capita' is 157.6
ScimEn_GDP_energy['Energy Supply per Capita'].mean()

157.6

In [21]:
# take a copy of the dataframe to remove the index
df_copy=ScimEn_GDP_energy.copy()

# remove the index from Country to allow query it
df_copy.reset_index(inplace=True)

In [22]:
# to get the maximun Renewable Value
max_renewable=ScimEn_GDP_energy['% Renewable'].max()

# to get the Country and the percentage
df_record=df_copy.loc[df_copy['% Renewable']==max_renewable, ['Country','% Renewable']]

#output was array of tuples (('Brazil', 69.64803),) so i used [0]
df_tuple_max= tuple(df_record.to_records(index=False))[0]

df_tuple_max

('Brazil', 69.64803)

In [23]:
#adding the new column of Citaion Ratio
ScimEn_GDP_energy['Citation Ratio']=ScimEn_GDP_energy['Self-citations']/ScimEn_GDP_energy['Citations']

C:\Users\amral\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
#copy of the dataframe with the new column
df_copy2=ScimEn_GDP_energy.copy()

#remove the index to allow selecting the Country column
df_copy2.reset_index(inplace=True)

In [25]:
#to get max Citation Ratio
max_citaion=ScimEn_GDP_energy['Citation Ratio'].max()

#select the Country of the maximum Citaion Ratio
record=df_copy2.loc[ df_copy2['Citation Ratio']==max_citaion, ['Country','Citation Ratio'] ]

#change the list into tuple
max_citaion_tuple=tuple( record.to_records(index=False) )[0]
max_citaion_tuple

('China', 0.68931262)

In [63]:
#get the median of the % Renewable
renewable_median=ScimEn_GDP_energy['% Renewable'].median()

#create new column 'HighRenew' by applying a funcion on '% Renewable' column
ScimEn_GDP_energy['HighRenew'] = ScimEn_GDP_energy['% Renewable'].apply(lambda x : 1 if x > renewable_median else 0)

C:\Users\amral\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [64]:
#print the 'HighRenew' column  "it's already sorted by Rank"
ScimEn_GDP_energy

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,...,2010,2011,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable,HighRenew
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,...,6.039659e+12,6.612490e+12,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,127191.0,93.0,19.754910,1
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,...,1.496437e+13,1.520402e+13,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,90838.0,286.0,11.570980,0
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,...,5.498718e+12,5.473738e+12,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,18984.0,149.0,10.232820,0
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,...,2.403504e+12,2.450911e+12,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7920.0,124.0,10.600470,0
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,...,1.524917e+12,1.589943e+12,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,30709.0,214.0,17.288680,1
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,...,1.613406e+12,1.664087e+12,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,10431.0,296.0,61.945430,1
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,...,3.417298e+12,3.542371e+12,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,13261.0,165.0,17.901530,1
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,...,1.708459e+12,1.821872e+12,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,33195.0,26.0,14.969080,0
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,...,2.646995e+12,2.702032e+12,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,10597.0,166.0,17.020280,0
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,...,1.094499e+12,1.134796e+12,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,11007.0,221.0,2.279353,0
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,...,2.125185e+12,2.137439e+12,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6530.0,109.0,33.667230,1
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,...,1.431673e+12,1.417355e+12,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4923.0,106.0,37.968590,1
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,...,4.677902e+11,4.853309e+11,4.532569e+11,4.445926e+11,4.639027e+11,NaN,9172.0,119.0,5.707721,0
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,...,1.142251e+12,1.169431e+12,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5386.0,231.0,11.810810,0
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,...,2.208872e+12,2.295245e+12,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,12149.0,59.0,69.648030,1

In [28]:
ScimEn_GDP_energy['Population']=ScimEn_GDP_energy['Energy Supply']/ScimEn_GDP_energy['Energy Supply per Capita']
ScimEn_GDP_energy

C:\Users\amral\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Rank,Documents,Citable documents,Citations,Self-citations,Citations per document,H index,2006,2007,2008,...,2012,2013,2014,2015,Energy Supply,Energy Supply per Capita,% Renewable,Citation Ratio,HighRenew,Population
Country,,,,,,,,,,,,,,,,,,,,,
China,1,127050,126767,597237,411683,4.70,138,3.992331e+12,4.559041e+12,4.997775e+12,...,7.124978e+12,7.672448e+12,8.230121e+12,8.797999e+12,1.271910e+11,93.0,19.754910,0.689313,1,1.367645e+09
United States,2,96661,94747,792274,265436,8.20,230,1.479230e+13,1.505540e+13,1.501149e+13,...,1.554216e+13,1.577367e+13,1.615662e+13,1.654857e+13,9.083800e+10,286.0,11.570980,0.335031,0,3.176154e+08
Japan,3,30504,30287,223024,61554,7.31,134,5.496542e+12,5.617036e+12,5.558527e+12,...,5.569102e+12,5.644659e+12,5.642884e+12,5.669563e+12,1.898400e+10,149.0,10.232820,0.275997,0,1.274094e+08
United Kingdom,4,20944,20357,206091,37874,9.84,139,2.419631e+12,2.482203e+12,2.470614e+12,...,2.479809e+12,2.533370e+12,2.605643e+12,2.666333e+12,7.920000e+09,124.0,10.600470,0.183773,0,6.387097e+07
Russian Federation,5,18534,18301,34266,12422,1.85,57,1.385793e+12,1.504071e+12,1.583004e+12,...,1.645876e+12,1.666934e+12,1.678709e+12,1.616149e+12,3.070900e+10,214.0,17.288680,0.362517,1,1.435000e+08
Canada,6,17899,17620,215003,40930,12.01,149,1.564469e+12,1.596740e+12,1.612713e+12,...,1.693133e+12,1.730688e+12,1.773486e+12,1.792609e+12,1.043100e+10,296.0,61.945430,0.190369,1,3.523986e+07
Germany,7,17027,16831,140566,27426,8.26,126,3.332891e+12,3.441561e+12,3.478809e+12,...,3.556724e+12,3.567317e+12,3.624386e+12,3.685556e+12,1.326100e+10,165.0,17.901530,0.195111,1,8.036970e+07
India,8,15005,14841,128763,37209,8.58,115,1.265894e+12,1.374865e+12,1.428361e+12,...,1.924235e+12,2.051982e+12,2.200617e+12,2.367206e+12,3.319500e+10,26.0,14.969080,0.288973,0,1.276731e+09
France,9,13153,12973,130632,28601,9.93,114,2.607840e+12,2.669424e+12,2.674637e+12,...,2.706968e+12,2.722567e+12,2.729632e+12,2.761185e+12,1.059700e+10,166.0,17.020280,0.218943,0,6.383735e+07
South Korea,10,11983,11923,114675,22595,9.57,104,9.410199e+11,9.924316e+11,1.020510e+12,...,1.160809e+12,1.194429e+12,1.234340e+12,1.266580e+12,1.100700e+10,221.0,2.279353,0.197035,0,4.980543e+07
Italy,11,10964,10794,111850,26661,10.20,106,2.202170e+12,2.234627e+12,2.211154e+12,...,2.077184e+12,2.040871e+12,2.033868e+12,2.049316e+12,6.530000e+09,109.0,33.667230,0.238364,1,5.990826e+07
Spain,12,9428,9330,123336,23964,13.08,115,1.414823e+12,1.468146e+12,1.484530e+12,...,1.380216e+12,1.357139e+12,1.375605e+12,1.419821e+12,4.923000e+09,106.0,37.968590,0.194299,1,4.644340e+07
Iran,13,8896,8819,57470,19125,6.46,72,3.895523e+11,4.250646e+11,4.289909e+11,...,4.532569e+11,4.445926e+11,4.639027e+11,NaN,9.172000e+09,119.0,5.707721,0.332782,0,7.707563e+07
Australia,14,8831,8725,90765,15606,10.28,107,1.021939e+12,1.060340e+12,1.099644e+12,...,1.211913e+12,1.241484e+12,1.272520e+12,1.301251e+12,5.386000e+09,231.0,11.810810,0.171939,0,2.331602e+07
Brazil,15,8668,8596,60702,14396,7.00,86,1.845080e+12,1.957118e+12,2.056809e+12,...,2.339209e+12,2.409740e+12,2.412231e+12,2.319423e+12,1.214900e+10,59.0,69.648030,0.237159,1,2.059153e+08

In [29]:
ContinentDict  = {'China':'Asia', 
                  'United States':'North America', 
                  'Japan':'Asia', 
                  'United Kingdom':'Europe', 
                  'Russian Federation':'Europe', 
                  'Canada':'North America', 
                  'Germany':'Europe', 
                  'India':'Asia',
                  'France':'Europe', 
                  'South Korea':'Asia', 
                  'Italy':'Europe', 
                  'Spain':'Europe', 
                  'Iran':'Asia',
                  'Australia':'Australia', 
                  'Brazil':'South America'}

df_Continent=pd.DataFrame(ContinentDict.items() , columns=['Country','Continent'])
# =dict(zip(ContinentDict.values(), ContinentDict.keys()))
# ContinentDict_new= {V:1 for K,V in ContinentDict.items()}
# df_Continent
# size_of_Continents = df_Continent.groupby('Continent').count()
# size_of_Continents
# df_Continent['Population']=ScimEn_GDP_energy['Energy Supply']/ScimEn_GDP_energy['Energy Supply per Capita']
df_Continent

               Country      Continent
0                China           Asia
1        United States  North America
2                Japan           Asia
3       United Kingdom         Europe
4   Russian Federation         Europe
5               Canada  North America
6              Germany         Europe
7                India           Asia
8               France         Europe
9          South Korea           Asia
10               Italy         Europe
11               Spain         Europe
12                Iran           Asia
13           Australia      Australia
14              Brazil  South America

In [30]:
#drop index to merge on 'Country' Column
ScimEn_GDP_energy.reset_index(inplace=True)

#merge the two dataframes on column 'Country' to add the 'Population' column
df_Continent=pd.merge(ScimEn_GDP_energy[['Country','Population']],df_Continent,on='Country', how='inner')

#to set the index of ScimEn_GDP_energy dataframe
ScimEn_GDP_energy.set_index('Country',inplace=True)

df_Continent.drop('Country',axis=1, inplace=True)

In [31]:
df_Continent

      Population      Continent
0   1.367645e+09           Asia
1   3.176154e+08  North America
2   1.274094e+08           Asia
3   6.387097e+07         Europe
4   1.435000e+08         Europe
5   3.523986e+07  North America
6   8.036970e+07         Europe
7   1.276731e+09           Asia
8   6.383735e+07         Europe
9   4.980543e+07           Asia
10  5.990826e+07         Europe
11  4.644340e+07         Europe
12  7.707563e+07           Asia
13  2.331602e+07      Australia
14  2.059153e+08  South America

In [32]:
#step 10 
df_Continent=df_Continent.groupby('Continent').agg({'Population':['size', 'sum', 'mean', 'std']})
df_Continent

              Population
                    size           sum          mean           std
Continent
Asia                   5  2.898666e+09  5.797333e+08  6.790979e+08
Australia              1  2.331602e+07  2.331602e+07           NaN
Europe                 6  4.579297e+08  7.632161e+07  3.464767e+07
North America          2  3.528552e+08  1.764276e+08  1.996696e+08
South America          1  2.059153e+08  2.059153e+08           NaN